#hero {
  background: $cream;
  padding: spacing(lg);
  height: calc(100vh - 12.8rem);
  align-items: center;
  justify-items: start;

  .hero-callout {
    height: auto;
    display: grid;
    grid-template-columns: 8.8rem 5fr;
    grid-gap: spacing(base);
  }

  .avatar {
    grid-column: span 1;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;

    img {
      max-width: 8.8rem;
      height: 0 auto;
    }
  }

  .hero-headline {
    grid-column: span 1;
  }

  h1 {
    font-size: $title-size;
  }
}

.arrow-down {
  justify-self: center;
  align-self: flex-end;
  opacity: 0.8;

  &.-bounce {
    animation: float 2s ease-in-out infinite;
  }
}
@media all and (max-width: 839px) {
  #hero {
    padding: spacing(med);
    grid-template-columns: 1fr;
    height: calc(100vh - 6.4rem);

    .hero-callout {
      grid-template-columns: 1fr;

      .avatar {
        grid-column: span 1;
      }

      .hero-headline {
        grid-column: span 1;
      }

      h1 {
        font-size: 3.4rem;
      }
    }
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
